@font-face {
    font-family: sora;
    src: url('../fonts/Sora-VariableFont_wght.ttf');
  }



  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    font-family: 'sora';
  }

  .main-padding{
    padding-left: 10% !important;
    padding-right: 10% !important;
  }
  .main-btn{
    padding: 8px 30px;
    background: #000;
    font-size: 16px;
    font-weight: 600;
    border-radius: 0px;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    width: fit-content;
    border:1px solid transparent;
    transition: .3s ease;
  }
  .main-btn:hover{
    border:1px solid #000;
    background: transparent;
    color: #000;
  }
  .alternate-btn{
    padding: 8px 30px;
    background: transparent;
    border: 1px solid #000;
    font-size: 16px;
    font-weight: 600;
    border-radius: 0px;
    color: #000;
    text-decoration: none;
    text-transform: capitalize;
    width: fit-content;
    transition: .3s ease;
  }
  .alternate-btn:hover{
    border:1px solid transparent;
    background: #000;
    color: #fff;
  }





  /* header style */
  #header{
    padding: 10px 0;
  }
  #header  .navbar-nav{
    gap: 20px;
  }
  #header  .navbar-nav .nav-link{
    font-weight: 600;
    color: #000;
  }
